{% extends 'index.html' %}

{% block body %}

    <div class="p-5 container row">

    <div class="col-auto">
        <div class="col mb-2">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            Поиск
        </button>
    </div>


<div class="col-auto" style="min-height: 0;">
  <div class="collapse collapse-horizontal show" id="collapseWidthExample">
    <div class="card card-body" style="width: 300px;">
      <form method="get">
          <div class="form-control m-2">
              <label for="{{ filter.form.id_for_name }}">Name subject:</label>

              <input type="text" name="name">
          </div>

          <div class="form-control m-2">
              <label for="{{ filter.form.id_for_name }}">Category:</label>

              <select name="category" id="id_category"></select>
          </div>

          <div class="col form-control m-2">
              <label for="{{ filter.form.id_for_name }}">Author:</label>
              {{ filter.form.author }}
          </div>
        <button class="m-2 btn btn-outline-primary" type="submit">Найти</button>
    </form>
    </div>
  </div>
</div>
    </div>





<div class="row container-fluid">
  {% for photo in photos %}
  <div class="card m-1 col-sm-3">
    <a href="{% url 'photo:detail' photo.id %}" class="d-block mb-4 h-100">
      <img src="{{ photo.image.url }}" class="rounded img-fluid" alt="{{ photo.title }}" />
        <p>{{ photo.name }}</p>
    </a>
  </div>
  {% empty %}
    No photos found.
  {% endfor %}
    <a href="{% url 'photo:create' %}" class="btn btn-info">
      Upload photo
    </a>
</div>


<nav class="mt-2" aria-label="Page navigation example">
  <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    Предыдующая</a>
            </li>
        {% endif %}

      {% for num_page in paginator.page_range %}
      	<li class="page-item">
            <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a></li>
      {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                Следующая</a></li>
    {% endif %}
  </ul>
</nav>
    </div>


{% endblock body %}