{% extends 'index.html' %}

{% block body %}

<main class="form-signin col-4 col-sm-4 col-lg-3 m-auto">
  <form action="" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating mb-2">
        <label for="id_username"></label>
        <input type="text" class="form-control" id="id_username" name="username" placeholder="name@example.com" required>
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
        <label for="id_password"></label>
        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required>
      <label for="floatingPassword">Password</label>
    </div>
    <button class="btn btn-primary w-100 py-2 my-2" type="submit">Sign in</button>
  </form>
    {% comment %}  Already Registered {% endcomment %}
  <div class="text-center w-100">
    <p class="text-muted font-weight-bold">
      Don't have an account?
      <a href="{% url 'user:signup' %}" class="text-primary ml-2">Create account</a>
    </p>
  </div>

</main>


{% endblock body %}

