{% extends 'index.html' %}
{% block body %}
    <div class="col mb-4">
    <h2 class="text-center">Welcome to the DjangoClassBasedView</h2>
    </div>
<div class="mx-auto col-4 col-sm-6 col-lg-4 border rounded p-4 ">
      <div class="form-group">
        <form action="" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Username</label>
        <input type="text" class="form-control" id="id_username" name="username" placeholder="zarpach...">
        <ul>
            {% for error in form.username.errors %}
              <li class="text-danger pt-2">{{ error }}</li>
            {% endfor %}
        </ul>
      </div>
      <div class="form-group">
        <label for="id_email">Email</label>
        <input type="email" class="form-control" id="id_email" name="email" placeholder="example@mail.com">
          <ul>
            {% for error in form.username.email %}
              <li class="text-danger px-4 pt-2">{{ error }}</li>
            {% endfor %}
        </ul>
      </div>
      <div class="form-group">
        <label for="id_password1">Password</label>
        <input type="password" class="form-control" id="id_password1" name="password1">
          <ul>
            {% for error in form.username.password1 %}
              <li class="text-danger px-4 pt-2">{{ error }}</li>
            {% endfor %}
        </ul>
      </div>
      <div class="form-group">
        <label for="id_password2">Confirm Password</label>
        <input type="password" class="form-control" id="id_password2" name="password2">
          <ul>
            {% for error in form.username.password2 %}
              <li class="text-danger px-4 pt-2">{{ error }}</li>
            {% endfor %}
        </ul>
      </div>
  <button type="submit" class="btn btn-primary w-100 mb-3">Create account</button>
</form>

  </div>
  {% comment %}  Already Registered {% endcomment %}
  <div class="text-center w-100">
    <p class="text-muted font-weight-bold">
      Already Registered?
      <a href="{% url 'user:login' %}" class="text-primary ml-2"> Login </a>
    </p>
  </div>
</div>
{% endblock body %}